<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg">

        </div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center align-items-center">

                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)] ='user.nome' type="text" id="nome" name="nome" placeholder="Digite seu nome" class="form-control" />


                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input [(ngModel)] ='user.usuario' type="text" id="usuario" name="usuario" placeholder="Digite seu nome"
                            class="form-control" />


                    </div>
                    <div class="form-group">
                        <label for="foto">Link da foto</label>
                        <input [(ngModel)] ='user.foto' type="text" id="foto" name="foto" placeholder="Seu link" class="form-control" />


                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)' type="password" id="senha" name="senha" placeholder="Digite sua senha"
                            class="form-control" />


                    </div>
                    <div class="form-group">
                        <label for="confirmSenha">Confirmar Senha</label>
                        <input [(ngModel)] ='user.senha' type="password" id="confirmSenha" name="confirmSenha" placeholder="Confirme sua senha"
                            class="form-control" />


                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de Usuario</label>
                        <select type="" id="tipo" name="tipo" class="form-control" (change) = 'tipoUser($event)'>
                            <option>Selecione um tipo de Usuario</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Admin</option>
                        </select>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4" routerLink = '/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>

                </div>
            </div>

        </div>







    </div>
</div>
